.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    width: 25px;
}



.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.hamburger svg{
    width: 25px;
    height: 25px;
    stroke: var(--text);
    fill: var(--text);
}
.hamburger svg:hover{
    stroke: var(--cta-active);
    fill: var(--cta-active);
}

@media only screen and (min-width: 1200px) {
    .hamburger-container {
        width: auto;
        margin-left: 9px;
    }
}