.hamburger-container {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-left: 15px;
}

.hamburger svg{
    width: 25px;
    height: 25px;
    stroke: #222;
    fill: #222;
}
.hamburger svg:hover{
    stroke: var(--cta);
    fill: var(--cta);
}

@media only screen and (max-width: 1200px) {
    .hamburger {
        margin-left: 0px;
    }
    .hamburger-container {
        width: 25px;
    }
}