.header{
    height: 60px;
    background: var(--bg);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0 16px;
}

.header--closed {
    grid-template-columns: 100%;
}

.header__login {
    justify-self: end;
}

.toggle-button {
    background-color: none;
    background: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__heading{
    color: var(--text);
    font-size: 24px;
    margin-left: 45px;
}
