.one-whole {
    width: 100%;
}




.add4left {
    margin-left: 4px !important;
}
.add6left {
    margin-left: 6px !important;
}
.add8left {
    margin-left: 8px !important;
}
.add10left {
    margin-left: 10px !important;
}
.add12left {
    margin-left: 12px !important;
}
.add16left {
    margin-left: 16px !important;
}
.add24left {
    margin-left: 24px !important;
}
.add32left {
    margin-left: 32px !important;
}
.add64left {
    margin-left: 64px !important;
}

.add4right {
    margin-right: 4px !important;
}
.add6right {
    margin-right: 6px !important;
}
.add8right {
    margin-right: 8px !important;
}
.add10right {
    margin-right: 10px !important;
}
.add12right {
    margin-right: 12px !important;
}
.add16right {
    margin-right: 16px !important;
}
.add24right {
    margin-right: 24px !important;
}
.add32right {
    margin-right: 32px !important;
}
.add64right {
    margin-right: 64px !important;
}

.add4top {
    margin-top: 4px !important;
}
.add6top {
    margin-top: 6px !important;
}
.add8top {
    margin-top: 8px !important;
}
.add10top {
    margin-top: 10px !important;
}
.add12top {
    margin-top: 12px !important;
}
.add16top {
    margin-top: 16px !important;
}
.add24top {
    margin-top: 24px !important;
}
.add32top {
    margin-top: 32px !important;
}
.add64top {
    margin-top: 64px !important;
}

.add4bottom {
    margin-bottom: 4px !important;
}
.add6bottom {
    margin-bottom: 6px !important;
}
.add8bottom {
    margin-bottom: 8px !important;
}
.add10bottom {
    margin-bottom: 10px !important;
}
.add12bottom {
    margin-bottom: 12px !important;
}
.add16bottom {
    margin-bottom: 16px !important;
}
.add24bottom {
    margin-bottom: 24px !important;
}
.add32bottom {
    margin-bottom: 32px !important;
}
.add64bottom {
    margin-bottom: 64px !important;
}