.logout-btn {
    display: flex;
    align-items: center;
    width: 100px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0px 2px 0px 0px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--logout-btn-color);
    background-color: var(--primary-indent);
}

.logout-btn:hover {
    background: #dd3444;
    color: #fff;
}
.logout-btn:focus {
    background: #dd3444;
    color: #fff;
}

.logout-btn__text {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    padding: 8px 0;
}

@media only screen and (max-width: 1200px) {
    .logout-btn__text {
        padding: 4px 0;
        font-size: 14px;
    }
    .logout-btn {
        width: 70px;
    }
}
