.secondary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    padding: 0px 2px 0px 0px;
    border-radius: var(--border-radius);
    background-color: var(--cta);
    transition: background .2s;
}
.secondary-btn:hover {
    background: var(--cta-active);
}

.secondary-btn__text {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    padding: 8px 0;
    color: #fff;
}
