.secondary-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #111;
    width: 100px;
    padding: 4px 0;
    border-radius: 7px;
    background-color: var(--cta);
}
.secondary-link__text {
    color: #fff;
    font-size: 14px;
}