.sidebar {
    width: 370px;
    flex-shrink: 0;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all ease-in-out .2s;
    border-right: var(--sidebar-border);
}
.sidebar--closed{
    width: 40px;
}

.sidebar--open-mobile {
    width: 100vw;
}


.sidebar__heading {
    margin-bottom: 10px;
    font-weight: normal;
    text-decoration: underline;
    color: rgb(75, 75, 75);
}

.sidebar__footer {
    min-height: 60px;
    max-height: 60px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.sidebar__guide-btn {
    border-radius: 50%;
    outline: none;
    background-color: var(--secondary);
    border: var(--secondary-border);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10000000000;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: var(--text);
    cursor: pointer;
}

.sidebar__container {
    flex-grow: 1;
    overflow: auto;
    /* -ms-overflow-style: none;   */
    /* scrollbar-width: none; */
}
.sidebar__container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.sidebar__container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}


.sidebar__list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media only screen and (min-width: 1200px) {
    .sidebar--closed{
        width: 80px;
    }
}


