.stickie{
    flex-grow: 1;
    background: var(--editor-bg);
    color: var(--editor-text);
    display: flex;
    flex-direction: column;
}

.textarea{  
    flex: 1;
    outline: none;
    border: none !important;
    display: flex;
    overflow-y: auto;
}

.ql-editor{
    flex: 1;
    font-size: 16px;
    outline: none;
    border-top: 1px solid var(--border);
}

.ql-editor > * {
    word-break: break-word !important;
}


.ql-toolbar{
    background: var(--toolbar-bg);
    padding: 0 !important;
    border: none !important;
}

.toolbar-wrapper {
    display: flex;
    align-items: center;
}

.saved-indicator-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.saved-indicator--green {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #2ea745;
}
.saved-indicator--red {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: crimson;
}

.toolbar{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* ROWS */
.toolbar > span{
    padding: 10px 25px;
}
.toolbar span:hover{
    color: none;
}
.toolbar [class^="ql"] {
    padding-left: 0 !important;
    padding-right: 7px !important;
    margin-left: 0 !important;
    margin-right: 8px !important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    stroke: var(--text-darker);
    fill: var(--text-darker);
}
.ql-snow .ql-stroke {
    stroke: var(--text);
}
.ql-fill .ql-color-label {
    stroke: var(--text)
}
.ql-picker-label::before {
    color: var(--text);
}

.ql-script{
    padding: 3px 7px !important;
}
.ql-picker-label{
    padding-left: 7px !important;
}
.ql-color-picker svg{
    height: 18px;
    width: 18px;
}
pre.ql-syntax{
    background: var(--code-block) !important;
}

@media only screen and (max-width: 1000px) {
    .saved-indicator--green, .saved-indicator--red{
        margin: 0 10px;
    }
    .ql-editor {
        border-top: none;
    }
    .toolbar{
        flex-direction: column;
    }
    .toolbar > span{
        border-bottom: 1px solid var(--border);
        border-right: none;
        padding: 5px 25px !important;
        width: 100%;
    }
    .toolbar button{
        margin: 0 5px !important;  
    }

    .saved-indicator-container {
        border-bottom: 1px solid var(--border);
        border-left: 1px solid var(--border);
    }
    .saved-indicator--green {
        border-bottom: 1px solid var(--border)
    }
    .saved-indicator--red {
        border-bottom: 1px solid var(--border)
    }
}

